<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type= "text/css"  href= "{{ url_for('static',filename='styles/styles.css') }}">
  <script type='text/javascript' src="{{ url_for('static', filename='styles/logic.js') }}"></script>
</head>
<body>>
  <title>Alzheimer's Information</title>
<h2>Alzheimer's Information</h2>

<p>Make a selection below to find out more information about Alzheimer's.</p>

<form action="/action_page.php">
  <label for="cars">Choose a data point</label>
  <select name="data" id="data">
    <option value="age">Age</option>
    <option value="ethnicity">Ethnicity</option>
    <option value="health">Health</option>
    <option value="location">Location</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
<!--p>Click the "Submit" button and the form-data will appear</p>-->    
</body>
</html>
