<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" type= "text/css"  href= "{{ url_for('static',filename='styles/styles.css') }}">
  <script type='text/javascript' src="{{ url_for('static', filename='styles/logic.js') }}"></script>
</head>
<body>

<h2>Alzheimer's Information</h2>

<p>Make a selection below to find out more information about Alzheimer's.</p>

<form action="/action_page.php">
  <label for="cars">Choose a data point</label>
  <select name="data" id="data">
    <option value="age">Age</option>
    <option value="ethnicity">Ethnicity</option>
    <option value="health">Health</option>
    <option value="location">Location</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

<div id="map"></div>

<script type='text/javascript' src="{{ url_for('static', filename='styles/logic.js') }}"></script>
<!--<p>Click the "Submit" button and the form-data will appear</p>-->

</body>
</html>
